@import '../css/font-awesome.css';
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic);
@import url(//fonts.googleapis.com/css?family=Economica);
.navigation {
	float:right;
	display:none!important
	position:relative;
	padding:0;
	font-family:Economica,sans-serif;
	font-weight:400
}
.navigation {
	z-index:990;
	text-align:center;
	position:relative;
    
}
.navigation nav {
	position:relative;
	padding:0;

}
.select-menu {
	display:none!important
}




html {
	width:100%
}
a[href^="tel:"] {
	color:inherit;
	text-decoration:none
}
sss * {
	-webkit-text-size-adjust:none
}
body {
	position:relative;
	background: #fdfcfc;
	color:#636262;
	font:300 18px/24px 'Open Sans',sans-serif
        
}

body.langen :lang(zh) {
  display: none;
}
body.langch :lang(en) {
  display: none;
}
.ic {
    border:0;
    float:right;
    background:#fff;
    color:#f00;
    width:50%;
    line-height:10px;
    font-size:10px;
    margin:-220% 0 0 0;
    overflow:hidden;
    padding:0
}
strong {
	font-weight:700
}
address {
	font-style:normal
}
p {
	margin-bottom:24px
}
input,textarea {
	border-radius:0!important;
	outline:0!important;
	-webkit-appearance:none
}
img {
	max-width:100%
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	color:#d0e206;
	font-family:Economica,sans-serif
}
h2 {
	font-size:60px;
	line-height:42px;
	margin-bottom:40px
}
h2.inset__1 {
	margin-bottom:38px
}
h3 {
	font-size:48px;
	line-height:42px
}
h3.offset__1 {
	margin-bottom:0px;
    padding-top: 0px;
}
h3.offset__2 {
	margin-bottom:0px
}
h4 {
	font-size:36px;
	line-height:42px
}
h4.inset__1 {
	padding-top:15px;
	margin-bottom:30px
}
ul {
	padding:0;
	list-style:none
}

.list-1.inset__1 {
	padding-top:66px
}
.list-1 li {
	padding-left:25px;
	position:relative
}
.list-1 li:before {
	content:'ï”';
	position:absolute;
	left:0;
	top:2px;
	font:14px/24px FontAwesome;
	color:#af9aae
}
.list-1 li+li {
	margin-top:6px
}
a {
	text-decoration:none;
	color:inherit;
	outline:0;
	-webkit-transition:.5s ease;
	transition:.5s ease
}
a:hover {
	color:#d0e206
}
.link-1 {
	font:24px/32px Economica,sans-serif;
	color:#d0e206;
	display:inline-block;
	margin-top:24px
}
.link-1:hover {
	color:#000
}

.logo {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 0px;
    background: #d0e206;
}

.mb0 {
	margin-bottom:0!important
}
.m0 {
	margin:0!important
}
.pad0 {
	padding:0!important
}
.pad01{
	padding-left: 110px;
}
.pad02{
	padding-right: 110px;
}
.pad03{
	padding-right: 10px;
}
.img_inner {
	max-width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-bottom:39px;
	margin-top:16px;
	border-radius:0!important
}

.carousel-inner > .item > img {
    /* margin: 0 auto; */
}

.fleft {
	float:left;
	margin-right:28px;
	position:relative;
	top:-7px
}
.oh {
	overflow:hidden
}
.fwn {
	font-weight:400
}
.fright {
	float:right!important
}
.upp {
	text-transform:uppercase
}
.alright {
	text-align:right
}
.ta__center {
	text-align:center
}
.ta__left {
	text-align:left
}
.td__underline {
	text-decoration:underline
}
.ta__right {
	text-align:right
}
.fw_med {
	font-weight:500
}
.wrapper,.extra_wrapper {
	overflow:hidden
}
.clear {
	float:none!important;
	clear:both
}
.oh {
	overflow:hidden
}
.nowrap {
	white-space:nowrap
}
.rel {
	position:relative
}
.main {
	background-color:#fdfcfc
}
header {
	display:block;
	position:relative;
	z-index:999;
	padding:3px 5px 5px
}
header .rel {
	z-index:999
}
h1 {
	text-align:center;
	position:relative;
	text-transform:uppercase;
	color:#000;
	z-index:999;
	float:left;
	text-align:left;
	font:300 130px/42px 'Open Sans',sans-serif;
	margin-bottom:24px;
	padding:26px 0 0;
	letter-spacing:normal;
	letter-spacing:-3px;
	text-indent:-10px
}
h1 a {
	-webkit-transition:0s ease;
	transition:0s ease;
	color:#000
}
h1 span {
	text-indent:0;
	padding-top:43px;
	text-transform:none;
	display:block;
	letter-spacing:-.5px;
	font-size:14px
}
#content {
	padding-top:39px;
	padding-bottom:128px
}
#content.inset__1 {
	padding-top:118px;
	padding-bottom:100px
}
.page1 header {
	padding-bottom:30px
}
.page1 #content {
	padding-top:30px;
	padding-bottom:88px
}

.myspan {
    background-color: default;
    float:right;
    padding: 2px 2px 0px;
    padding-right: 50
    }
.banner {
	border:1px solid #686868;
	text-align:center;
	padding:52px 41px 53px;
	margin:127px 0 136px
}
.banner h4 {
	border-bottom:1px solid #989797;
	padding-bottom:48px
}
.banner .link-1 {
	margin-top:51px
}
.block-1 {
	margin-bottom:41px;
	padding-top:10px
}
.block-1 h4 {
	margin-bottom:24px
}
.bq-1 {
	background-color:#af9aae;
	margin-top:0px;
    margin-left: 10px;
    margin-bottom: 0px;
	padding-left:15px;
    padding-right: 19px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-style: italic;
}
.bq-1 h4 {
	color:#fff;
    padding-top: 10px;
	margin-bottom:28px;
    margin-top: 30px;
    font-style: normal;
    text-align: center
}

.bq-1 .ta__right {
	padding-top:3px;
	color:#80637f;
	font:24px/30px Economica,sans-serif
}
.block-2 {
	overflow:hidden;
	margin-bottom:36px
}
.block-2 img {
	float:left;
	margin-right:30px;
	margin-top:6px
}
.block-2 h4 {
	margin-bottom:16px;
	margin-top: 0px;
}
#table-1 {
	margin-top:35px;
	width:100%;
	border:1px solid #6d6c6c;
	color:#000;
	font-size:18px;
	line-height:47px
}
#table-1 tr:nth-child(even) {
	background-color:#c5c4c4;
}
#table-1 td {
	padding:0 0 0 37px;
}

.gall_item {
	margin-top:-2px;
	background-color:#af9aae;
	display:block;
	color:#534b52
}
.gall_item:hover {
	background-color:#000
}
.gall_item .gall_bot {
	padding:32px 32px 16px
}
.gall_item .gall_bot .fa {
	font-size:48px;
	line-height:60px
}
.sep-1 {
	border-top:1px solid #848383;
	padding-bottom:34px
}
.sep-1.offset__1 {
	margin-top:10px;
	padding-bottom:10px
}
.color1 {
	color:#d0e206
}
.color1 a:hover,a.color1:hover {
	color:#000
}
.color2 {
	color:#000
}
.white {
	color:#fff
}
.black {
	color:#000
}
.map {
	overflow:hidden;
	padding-top:7px
}
.map figure {
	position:relative;
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-bottom:45px
}
.map figure iframe {
	width:100%;
	height:399px;
	max-width:100%
}
.footer-top {
	color:#363535;
	font-size:14px;
	line-height:24px;
	padding-bottom:33px
}
.footer-top .fa {
	position:absolute;
	top:-4px;
	left:0;
	font-size:30px;
	line-height:40px;
	color:#6d6c6c
}
.footer-top .fa.fa-envelope {
	font-size:24px;
	top:-7px
}
.address-1 {
	position:relative;
	padding-left:70px
}
.mail-1 {
	position:relative;
	padding-left:66px;
	display:inline-block;
	margin-left:40px
}
.mail-2 {
    color:#b878b5;
    font-weight:bolder;
    
}
.socials {
	text-align:right
}
.socials a {
	position:relative;
	display:inline-block
}
.socials a+a {
	margin-left:55px
}
.socials a+a:before {
	width:1px;
	height:36px;
	background-color:#818080;
	position:absolute;
	left:-30px;
	top:-5px;
	content:''
}
#footer {
	background:#d0e206;
	color:#000;
	font-size:14px;
	line-height:16px;
	font-weight:400;
	padding:18px 0
}
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:130px;
	left:51%;
	margin-left:640px;
	border-radius:500px;
	overflow:hidden;
	border:0;
	color:#534b52;
	width:76px;
	height:76px;
	font-size:48px;
	line-height:70px;
	text-align:center;
	z-index:20;
	-webkit-transition:background .5s ease;
	transition:background .5s ease;
	background-color:#af9aae
}
#toTop:hover {
	outline:0;
	background-color:#7e4a7c
}